<link rel="icon" type="image/png" href="/https://wiki.erfindergeist.org/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/https://wiki.erfindergeist.org/favicon/favicon.svg" />
<link rel="shortcut icon" href="/https://wiki.erfindergeist.org/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/https://wiki.erfindergeist.org/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="EGJ Wiki" />
<link rel="manifest" href="/https://wiki.erfindergeist.org/favicon/site.webmanifest" />